.list-contents {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.list-contents .title {
  align-items: center;
  background-color: var(--myspec-gray-scalewhite);
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 12px 15px;
  position: relative;
  width: 375px;
}

.list-contents .div {
  color: var(--myspec-gray-scalegray-600);
  font-family: var(--title-02-font-family);
  font-size: var(--title-02-font-size);
  font-style: var(--title-02-font-style);
  font-weight: var(--title-02-font-weight);
  letter-spacing: var(--title-02-letter-spacing);
  line-height: var(--title-02-line-height);
  margin-top: -1px;
  position: relative;
  width: 345px;
  border: none;
}
.list-contents .div:focus {
  outline: none;
}
.list-contents .border {
  height: 12px;
  position: relative;
  width: 375px;
}

.list-contents .frame {
  align-items: flex-start;
  background-color: var(--myspec-gray-scalewhite);
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 12px 15px;
  position: relative;
  width: 375px;
}

.list-contents .view {
  flex: 0 0 auto !important;
}

.list-contents .drop-down-instance {
  height: 6px !important;
  margin-right: unset !important;
  width: 12px !important;
}

.list-contents .div-wrapper {
  align-items: flex-start;
  background-color: var(--myspec-gray-scalewhite);
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  height: 466px;
  padding: 12px 15px;
  position: relative;
  width: 375px;
}

.list-contents .text-wrapper-2 {
  color: var(--myspec-gray-scalegray-600);
  font-family: var(--body-01-font-family);
  font-size: var(--body-01-font-size);
  font-style: var(--body-01-font-style);
  font-weight: var(--body-01-font-weight);
  letter-spacing: var(--body-01-letter-spacing);
  line-height: var(--body-01-line-height);
  margin-top: -1px;
  position: relative;
  width: 345px;
  border: none;
}

.list-contents .text-wrapper-2:focus {
  outline: none;
}

.list-contents .area-images {
  background-color: var(--myspec-gray-scalewhite);
  height: 96px;
  position: relative;
  width: 375px;
}

.list-contents .images {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  left: 15px;
  position: relative;
  top: 12px;
  width: 345px;
}

.list-contents .image {
  background-color: var(--myspec-gray-scalegray-100);
  border-radius: 10px;
  height: 72px;
  overflow: hidden;
  position: relative;
  width: 72px;
}

.list-contents .overlap-group {
  height: 45px;
  left: 18px;
  position: relative;
  top: 18px;
  width: 45px;
}

.list-contents .rectangle {
  border: 2px solid;
  border-color: var(--myspec-gray-scalegray-400);
  border-radius: 10px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.list-contents .img {
  height: 16px;
  left: 1px;
  position: absolute;
  top: 12px;
  width: 34px;
}

.list-contents .ellipse {
  border: 2px solid;
  border-color: var(--myspec-gray-scalegray-400);
  border-radius: 4px;
  height: 8px;
  left: 21px;
  position: absolute;
  top: 7px;
  width: 8px;
}

.list-contents .group {
  background-color: #888787;
  border-radius: 10px;
  height: 20px;
  left: 25px;
  position: absolute;
  top: 25px;
  width: 20px;
}

.list-contents .vector-2 {
  height: 12px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 12px;
}
