.modalWrapper {
  position: fixed !important;
  bottom: 0 !important;
  left: 50 !important;
  width: 100% !important;
  top: auto !important;
  transform: translate(-50%, 0) !important;
  margin: 0 auto;
  background-color: transparent !important;
}
.react-datepicker__portal {
  > div {
    position: fixed;
    bottom: 0px;
  }
  background-color: rgba(0, 0, 0, 0.5);
}
// 상단의 삼각형
.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  border-radius: 20px 20px 0px 0px;
  border: none;
  padding-bottom: 10px;
}

// ' < 2024 > ' 를 나타내는 헤더
.react-datepicker__header {
  border-radius: 20px !important;
  background-color: white;
  padding-top: 20px;
  border: none;

  color: var(--myspec-gray-scalegray-900, #1a1a1a);
  text-align: center;

  /* Title 02 */
  font-family: var(--title-02-font-family);
  font-size: var(--title-02-font-size);
  font-style: var(--title-02-font-style);
  font-weight: var(--title-02-font-weight);
  line-height: var(--title-02-line-height); /* 27px */
}

.react-datepicker__navigation {
  margin-top: 15px;
}

// [1,2,3] [4,5,6] ... [10,11,12] 월
.react-datepicker__month-wrapper {
  display: flex;
  justify-content: space-between;

  > div {
    box-sizing: border-box;
    padding: 8px;
    min-width: 122px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  color: var(--myspec-gray-scalegray-900, #1a1a1a);
  text-align: center;

  /* Subtitle 02 */
  font-family: var(--subtitle-02-font-family);
  font-size: var(--subtitle-02-font-size);
  font-style: var(--subtitle-02-font-style);
  font-weight: var(--subtitle-02-font-weight);
  line-height: var(--subtitle-02-line-height);
}

// 하단의 [ 취소 ] [ 확인 ] 버튼
.react-datepicker__children-container {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  & > div {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px 0px 12px;

    & > .act > .text {
      color: var(--myspec-gray-scalegray-100, white);
      text-align: center;

      /* Subtitle 02 */
      font-family: var(--subtitle-01-font-family);
      font-size: var(--subtitle-01-font-size);
      font-style: var(--subtitle-01-font-style);
      font-weight: var(--subtitle-01-font-weight);
      line-height: var(--subtitle-01-line-height);
    }
  }
}

// 선택한 '월'
.react-datepicker__month-text--selected {
  border-radius: 10px;
  background: var(--myspec-gray-scalegray-300, #e4e4e4);
  font-weight: 700;

  &:hover {
    background: var(--myspec-gray-scalegray-500, rgba(187, 187, 187, 1));
  }
}
