.pageContainer {
  padding-top: 85px;
  text-align: left;
  background-color: var(--myspec-gray-scalegray-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 375px;
  margin: 0px auto;
  padding-bottom: 85px;

  & > div {
    background-color: white;
  }
}
