// header 요소들 가운데 배치

.react-datepicker {
  border: none;
  .react-datepicker__header {
    background-color: white;
  }
  .dataPickerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    margin-top: 8px;
    padding: 0 12px 0 24px;
    gap: 10px;

    color: #000000;
    font-family: var(--subtitle-01-font-family);
    font-size: var(--subtitle-01-font-size);
    font-style: var(--subtitle-01-font-style);
    font-weight: var(--subtitle-01-font-weight);
    letter-spacing: var(--subtitle-01-letter-spacing);
    line-height: var(--subtitle-01-line-height);

    .month {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .react-datepicker__day-names {
    > div {
      width: 40px;
      height: 26px;
      margin: 0px;

      color: var(--myspec-gray-scalegray-600);
      font-family: var(--body-01-font-family);
      font-size: var(--body-01-font-size);
      font-style: var(--body-01-font-style);
      font-weight: var(--body-01-font-weight);
      letter-spacing: var(--body-01-letter-spacing);
      line-height: var(--body-01-line-height);
      word-break: keep-all;
    }
  }
  .react-datepicker__month {
    margin: 0px;
    .react-datepicker__week {
      border-bottom: 1px solid #f2f2f2;
      .react-datepicker__day {
        width: 40px;
        height: 40px;
        margin: 0px;
        display: inline-grid;
        align-items: center;
        box-sizing: border-box;

        font-family: var(--body-01-font-family);
        font-size: var(--body-01-font-size);
        font-style: var(--body-01-font-style);
        font-weight: var(--body-01-font-weight);
        letter-spacing: var(--body-01-letter-spacing);
        line-height: var(--body-01-line-height);
        word-break: keep-all;
      }
    }
  }
  //현재 월 이외의 날짜는 회색글자로 보여주기
  .react-datepicker__day--outside-month {
    color: var(--myspec-gray-scalegray-500);
  }
  //단일로 선택된 시작 날짜
  .react-datepicker__day--selected {
    border-radius: 50%;
    background-color: var(--myspec-primaryblue-1);
  }
  //기간 선택 중 또는 후에 시작 날짜
  .react-datepicker__day--selecting-range-start,
  .react-datepicker__day--range-start:not(.react-datepicker__day--range-end) {
    border-radius: 20px 0px 0px 20px;
    background-color: var(--myspec-primaryblue-1);
  }
  //기간 선택 중 마우스 커서가 올라가있는 날짜
  .react-datepicker__day--selecting-range-end {
    color: black;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(19, 99, 255, 0.1);
  }
  //선택된 기간 중 시작과 끝 사이의 날짜.
  .react-datepicker__day--in-range:not(
      .react-datepicker__day--range-start,
      .react-datepicker__day--range-end
    ), //선택 중인 기간 중 시작과 끝 사이의 날짜.
  .react-datepicker__day--in-selecting-range:not(
      .react-datepicker__day--selecting-range-start,
      .react-datepicker__day--selecting-range-end
    ) {
    color: black;
    border-radius: 0px;
    background-color: rgba(19, 99, 255, 0.1);
  }

  //선택된 기간 중 끝 날짜
  .react-datepicker__day--range-end:not(.react-datepicker__day--range-start) {
    color: white;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--myspec-primaryblue-1);
  }
}
